<div class="jumbotron">
  <h1 class="display-4 text-center">Ecohub - Your app to reduce food waste</h1>
  <hr class="my-4">
  <h5 class="text-center">Ecohub is and app which allows you to save the enviorement, money and time. You can create your own digital cookbook and share and publish your favourite recipes. Making an efficient shopping list has never been easier than with this app. After you reduced your food waste by a ton by shopping responsibly you can reduce it ever further by logging it and later adjusting your shopping habits and recipes </h5>
</div>
<div id="carouselExampleControls" class="carousel slide mb-6" data-interval="12000" data-ride="carousel">
  <div class="carousel-inner text-center mt-4">
    <div class="carousel-item active mr-4 ml-4">
      <h2>Share beautiful and Tasty recipes</h2>
      <p>
        With Ecohub you can share the photos of your newest concoctions and allow others to add the 
        recipe for it in a click of a button. Instead of having messy folders of disorganised recipes 
        you can keep them here where you'll never lose them.
      </p>
    </div>
    <div class="carousel-item ">
      <h2>Make shopping lists on the fly</h2>
      <p>
        Having a shopping list is great, but making it sucks. With this app you can make your shopping list 
        with just a few clicks and have it with you whenever and wherever you need it. If you want to make 
        something tasty for dinner just click one button and magic! all the neccessary ingredients are on
        your list
      </p>
    </div>
    <div class="carousel-item ">
      <h2>Track your food waste</h2>
      <p>
        With this app as soon as something turns bad you can log and remember it so that you don't 
        buy too much of it again. Its good both for the enviorenemnt and your wallet. 
      </p>
    </div>
    <div class="carousel-item ">
      <h2>Buy only what you need</h2>
      <p>
        This app encourages you to make recipes and shop in a way that allows you to buy only the fresh 
        ingredients that you are going to use in their entirety before your next visit at a supermarket
        This way not only can you save money on food that you don't waste you can buy products with long 
        shelf life in bulk and all your ingreidents are incredibly fresh. 
      </p>
    </div>
    <div class="carousel-item ">
      <h2>Save the enviorement</h2>
      <p>
        Globally food waste generates almost as much emmistions as the entire road transport industry.
        What do you think is easier? Stop wasting so much food (and money) or get rid of all the cars 
        and truchs. 
      </p>
    </div>
  </div>
</div>