<div class="page-header">
    <%= link_to posts_path, class: 'btn btn-default link_button' do %>
      All Posts
    <% end %>
    <%= link_to edit_post_path(@post), class: 'btn btn-dark link_button' do %>
      Edit
    <% end %>
    <h1>Show post</h1>
  </div>
  
  <dl class="dl-horizontal">
  </dl>