<footer id="sticky-footer" class="py-2 text-black">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Paweł Biegun","https://www.linkedin.com/in/pawe%C5%82-biegun-8b51b8187/", class: "text-black", target: :_blank %></small>
  </div>
</footer>